<div class="slds-grid slds-wrap">
    <div class="slds-col slds-size_1-of-12 slds-medium-size_2-of-12  slds-large-size_4-of-12"></div>

    <div class="slds-col slds-size_10-of-12 slds-medium-size_8-of-12 slds-large-size_4-of-12">
        <form [formGroup]="personalForm" (ngSubmit)="onPersonalSubmit()">
            <div [hidden]="id != 1">
                <div class="slds-text-heading_large"><b>Step 1 of 4</b></div>
                <div class="slds-text-heading_large">Personal details</div>
                <br />
                <div class="slds-m-top_small">
                    <label class="slds-form-element__label" for="firstName">First name*</label>
                    <div class="slds-form-element__control">
                        <input type="text" formControlName="firstName" class="form-control slds-input" />
                        <div *ngIf="submitted && p.firstName.errors" class="slds-text-color_error">
                            <div *ngIf="p.firstName.errors.required">First Name is required</div>
                        </div>
                    </div>
                </div>

                <div class="slds-m-top_small">
                    <label class="slds-form-element__label" for="surname">Surname*</label>
                    <div class="slds-form-element__control">
                        <input type="text" formControlName="surname" class="form-control slds-input" />
                        <div *ngIf="submitted && p.surname.errors" class="slds-text-color_error">
                            <div *ngIf="p.surname.errors.required">Surname is required</div>
                        </div>
                    </div>
                </div>

                <div class="slds-m-top_small">
                    <label class="slds-form-element__label" for="idNumber">ID number*</label>
                    <div class="slds-form-element__control">
                        <input type="number" formControlName="idNumber" class="form-control slds-input" />
                        <div *ngIf="submitted && p.idNumber.errors" class="slds-text-color_error">
                            <div *ngIf="p.idNumber.errors.required">ID number is required</div>
                        </div>
                    </div>
                </div>

                <div class="slds-m-top_small">
                    <label class="slds-form-element__label" for="age">Age*</label>
                    <div class="slds-form-element__control">
                        <input type="number" formControlName="age" class="form-control slds-input" />
                        <div *ngIf="submitted && p.age.errors" class="slds-text-color_error">
                            <div *ngIf="p.age.errors.required">Age is required</div>
                        </div>
                    </div>
                </div>

                <div class="slds-m-top_small">
                    <label class="slds-form-element__label" for="contactNum">Contact number*</label>
                    <div class="slds-form-element__control">
                        <input type="number" formControlName="contactNum" class="form-control slds-input" />
                        <div *ngIf="submitted && p.contactNum.errors" class="slds-text-color_error">
                            <div *ngIf="p.contactNum.errors.required">Contact number is required</div>
                        </div>
                    </div>
                </div>

                <div class="slds-m-top_small">
                    <label class="slds-form-element__label" for="email">Email address*</label>
                    <div class="slds-form-element__control">
                        <input type="email" formControlName="email" email class="form-control slds-input" />
                        <div *ngIf="submitted && p.email.errors" class="slds-text-color_error">
                            <div *ngIf="p.email.errors.required">Email address is required</div>
                            <div *ngIf="p.email.errors.email">Invalid email address</div>
                        </div>
                    </div>
                </div>

                <div class="slds-m-top_small">
                    <label class="slds-form-element__label" for="password">Choose your password*</label>
                    <div class="slds-form-element__control">
                        <input type="password" minlength="8" formControlName="password" class="form-control slds-input" />
                        <div *ngIf="submitted && p.password.errors" class="slds-text-color_error">
                            <div *ngIf="p.password.errors.required">Password is required</div>
                            <div *ngIf="p.password.errors.minlength">Password must be at least 8 characters</div>
                        </div>
                    </div>
                </div>

                <div class="slds-m-top_small">
                    <label class="slds-form-element__label" for="confirmPassword">Confirm your password*</label>
                    <div class="slds-form-element__control">
                        <input type="password" formControlName="confirmPassword" class="form-control slds-input" />
                        <div *ngIf="submitted && p.confirmPassword.errors" class="slds-text-color_error">
                            <div *ngIf="p.confirmPassword.errors?.dontMatch">Confirmed password does not match</div>
                            <div *ngIf="p.confirmPassword.errors.required">Confirmed password is required</div>
                        </div>
                    </div>
                </div>

                <div class="slds-m-top_medium">
                    <a [routerLink]="['/']" class="slds-button">Cancel</a>
                    <button [disabled]="loading" class="slds-button slds-button_outline-brand btn-right"
                        routerLinkActive="router-link-active">Next</button>
                </div>
            </div>
        </form>

        <form [formGroup]="bankingForm" (ngSubmit)="onBankingSubmit()">
            <div [hidden]="id != 2">
                <div class="slds-text-heading_large"><b>Step 2 of 4</b></div>
                <div class="slds-text-heading_large">Banking details</div>

                <div class="slds-m-top_small">
                    <label class="slds-form-element__label" for="bankName">Bank name*</label>
                    <div class="slds-form-element__control">
                        <input type="text" formControlName="bankName" class="form-control slds-input" />
                        <div *ngIf="submitted && b.bankName.errors" class="slds-text-color_error">
                            <div *ngIf="b.bankName.errors.required">Bank Name is required</div>
                        </div>
                    </div>
                </div>

                <div class="slds-m-top_small">
                    <label class="slds-form-element__label" for="accountType">Account type*</label>
                    <div class="slds-form-element__control">
                        <input type="text" formControlName="accountType" class="form-control slds-input" />
                        <div *ngIf="submitted && b.accountType.errors" class="slds-text-color_error">
                            <div *ngIf="b.accountType.errors.required">Account type is required</div>
                        </div>
                    </div>
                </div>

                <div class="slds-m-top_small">
                    <label class="slds-form-element__label" for="accountNum">Account number*</label>
                    <div class="slds-form-element__control">
                        <input type="number" formControlName="accountNum" class="form-control slds-input" />
                        <div *ngIf="submitted && b.accountNum.errors" class="slds-text-color_error">
                            <div *ngIf="b.accountNum.errors.required">Account number is required</div>
                        </div>
                    </div>
                </div>

                <div class="slds-m-top_small">
                    <label class="slds-form-element__label" for="branchCode">Branch code*</label>
                    <div class="slds-form-element__control">
                        <input type="number" formControlName="branchCode" class="form-control slds-input" />
                        <div *ngIf="submitted && b.branchCode.errors" class="slds-text-color_error">
                            <div *ngIf="b.branchCode.errors.required">Branch code is required</div>
                        </div>
                    </div>
                </div>

                <div class="slds-m-top_medium">
                    <button type="button" class="slds-button" [routerLink]="['/psyregister']" [queryParams]="{page:1}"
                        routerLinkActive="router-link-active">Back</button>
                    <button [disabled]="loading" class="slds-button slds-button_outline-brand btn-right"
                        routerLinkActive="router-link-active">Next</button>
                </div>
            </div>
        </form>

        <form [formGroup]="professionalForm" (ngSubmit)="onProfessionalSubmit()">
            <div [hidden]="id != 3">
                <div class="slds-text-heading_large"><b>Step 3 of 4</b></div>
                <div class="slds-text-heading_large">Professional information</div>

                <div class="slds-m-top_small">
                    <label class="slds-form-element__label" for="qualification">Highest qualification*</label>
                    <div class="slds-form-element__control">
                        <input type="text" formControlName="qualification" class="form-control slds-input" />
                        <div *ngIf="submitted && pf.qualification.errors" class="slds-text-color_error">
                            <div *ngIf="pf.qualification.errors.required">Highest qualification is required</div>
                        </div>
                    </div>
                </div>

                <div class="slds-m-top_small">
                    <label class="slds-form-element__label" for="university">University of highest qualification*</label>
                    <div class="slds-form-element__control">
                        <input type="text" formControlName="university" class="form-control slds-input" />
                        <div *ngIf="submitted && pf.university.errors" class="slds-text-color_error">
                            <div *ngIf="pf.university.errors.required">University of highest hualification is required</div>
                        </div>
                    </div>
                </div>

                <div class="slds-m-top_small">
                    <label class="slds-form-element__label" for="yearsOfExperience">Number of years experience*</label>
                    <div class="slds-form-element__control">
                        <input type="number" formControlName="yearsOfExperience" class="form-control slds-input"
                            [ngClass]="{ 'is-invalid': submitted && pf.yearsOfExperience.errors }" />
                        <div *ngIf="submitted && pf.yearsOfExperience.errors" class="slds-text-color_error">
                            <div *ngIf="pf.yearsOfExperience.errors.required">Years of experience is required</div>
                        </div>
                    </div>
                </div>

                <div class="slds-m-top_small">
                    <label class="slds-form-element__label" for="licenseNum">License number*</label>
                    <div class="slds-form-element__control">
                        <input type="text" formControlName="licenseNum" class="form-control slds-input" />
                        <div *ngIf="submitted && pf.licenseNum.errors" class="slds-text-color_error">
                            <div *ngIf="pf.licenseNum.errors.required">License number is required</div>
                        </div>
                    </div>
                </div>

                <div class="slds-m-top_medium">
                    <button type="button" class="slds-button" [routerLink]="['/psyregister']" [queryParams]="{page:2}"
                        routerLinkActive="router-link-active">Back</button>
                    <button [disabled]="loading" class="slds-button slds-button_outline-brand btn-right"
                        routerLinkActive="router-link-active">Next</button>
                </div>

            </div>
        </form>

        <form [formGroup]="attachmentForm" (ngSubmit)="onAttachmentsSubmit()">
            <div [hidden]="id != 4">
                <div class="slds-text-heading_large"><b>Step 4 of 4</b></div>
                <div class="slds-text-heading_large">Attachments</div>
                <br />

                <div class="slds-m-top_small">
                    <label class="slds-text-heading_medium" for="photoFile">Photo of yourself (headshot)*</label>
                    <div class="slds-form-element__control slds-m-top_x-small">
                        <input required #photoFile formControlName="photoFile" accept="image/png, .pdf" type="file"
                            (change)="onPhotoFileChange($event)" />
                        <div *ngIf="attachForm.photoFile.errors" class="slds-text-color_error">
                            <div *ngIf="submitted && attachForm.photoFile.errors.required">Photo of yourself is
                                required</div>
                            <div *ngIf="attachForm.photoFile.errors?.tooLarge">File too large, max file size is
                                {{maxFileSizeBytes / (1024 * 1024) | number}} MB</div>
                        </div>
                    </div>
                </div>

                <div class="slds-m-top_medium">
                    <label class="slds-text-heading_medium" for="idDocFile">ID document*</label>
                    <div class="slds-form-element__control slds-m-top_x-small">
                        <input #idDocFile required formControlName="idDocFile" accept="image/png, .pdf" type="file"
                            (change)="onIdDocFileChange($event)" />
                        <div *ngIf="attachForm.idDocFile.errors" class="slds-text-color_error">
                            <div *ngIf="submitted && attachForm.idDocFile.errors.required">ID document is required</div>
                            <div *ngIf="attachForm.idDocFile.errors?.tooLarge">File too large, max file size is
                                {{maxFileSizeBytes / (1024 * 1024) | number}} MB</div>
                        </div>
                    </div>
                </div>

                <div class="slds-m-top_medium">
                    <label class="slds-text-heading_medium" for="cvFile">Curriculum Vitae*</label>
                    <div class="slds-form-element__control slds-m-top_x-small">
                        <input #cvFile required formControlName="cvFile" accept="image/png, .pdf, .doc, .docx, .txt"
                            type="file" (change)="onCVFileChange($event)" />
                        <div *ngIf="attachForm.cvFile.errors" class="slds-text-color_error">
                            <div *ngIf="submitted && attachForm.cvFile.errors.required">CV is required</div>
                            <div *ngIf="attachForm.cvFile.errors?.tooLarge">File too large, max file size is
                                {{maxFileSizeBytes / (1024 * 1024) | number}} MB</div>
                        </div>
                    </div>
                </div>

                <div class="slds-m-top_medium">
                    <label class="slds-text-heading_medium" for="licenseFile">License*</label>
                    <div class="slds-form-element__control slds-m-top_x-small">
                        <input #licenseFile required formControlName="licenseFile" accept="image/png, .pdf, .doc, .docx, .txt"
                            type="file" (change)="onLicenseFileChange($event)" />
                        <div *ngIf="attachForm.licenseFile.errors" class="slds-text-color_error">
                            <div *ngIf="submitted && attachForm.licenseFile.errors.required">License is required</div>
                            <div *ngIf="attachForm.licenseFile.errors?.tooLarge">File too large, max file size is
                                {{maxFileSizeBytes / (1024 * 1024) | number}} MB</div>
                        </div>
                    </div>
                </div>

                <div class="slds-m-top_medium">
                    <button type="button" class="slds-button" [routerLink]="['/psyregister']" [queryParams]="{page:3}"
                        routerLinkActive="router-link-active">Back</button>
                    <button [disabled]="loading" class="slds-button slds-button_brand btn-right" routerLinkActive="router-link-active">Register</button>
                    
                    <div [hidden]="!loading" class="slds-spinner_container">
                        <div role="status" class="slds-spinner slds-spinner_medium">
                          <span class="slds-assistive-text">Loading</span>
                          <div class="slds-spinner__dot-a"></div>
                          <div class="slds-spinner__dot-b"></div>
                        </div>
                      </div>
                </div>

                <div [ngClass]="{'slds-hide': !finalSumbitError}" class="slds-m-top_medium slds-text-color_error">
                    An unexpected error occurred.
                </div>

                <div [ngClass]="{'slds-hide': !duplicateUsername}" class="slds-m-top_medium slds-text-color_error">
                    Email <b>{{ p.email.value }}</b> already exists in our system. Please login with that email address, or go back and select a different email address.
                </div>

            </div>
        </form>
    </div>
    <div class="slds-col slds-size_1-of-12 slds-medium-size_2-of-12 slds-large-size_4-of-12"></div>
</div>