<div class="slds-m-bottom_medium">
  <div class="slds-text-heading_large">
    What you need to know before applying...
  </div>

  <div class="slds-m-vertical_large">
    <div class="slds-text-heading_medium">
      Please make sure you meet the below requirements before submitting your application:
    </div>
    <div class="slds-text-heading_small slds-m-vertical_medium">
      1. You practise one of the following disciplines
    </div>

    <ul class="slds-m-left_medium">
      <li>Clinical Psychologist</li>
      <li>Counseling Psychologist</li>
      <li>Educational Psychologist</li>
      <li>Industrial Psychologist</li>
      <li>Registered Counselor</li>
      <li>Registered Social Workers</li>
    </ul>

    <div class="slds-text-heading_small slds-m-vertical_medium">2. You are registered with a recognized board eg.
      Health
      Professions Council of
      South Africa (HPCSA), Professional
      Board for Social Workers (SACSSP), etc.
    </div>

  </div>

  <button [routerLink]="['/apply/psychologist']" class="slds-button slds-button_outline-brand">Continue to
    application</button>
</div>