<header class="slds-global-header_container slds-p-horizontal_small">
  <div class="slds-global-header slds-grid slds-grid_align-spread">
    <!-- MOBILE NAV - shown when screen size is not "large"-->
    <div class="slds-global-header__item slds-hide_large">
      <action-menu>

        <button actionMenuOrigin class="slds-button slds-button_icon slds-button_icon slds-button_icon-container slds-button_icon-small slds-global-actions__notifications slds-global-actions__item-action">
          <svg class="slds-button__icon slds-global-header__icon">
            <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#rows"></use>
          </svg>
        </button>
        <div actionMenuDropdown class="slds-dropdown slds-dropdown--left slds-m-top_x-small">
          <ul class="dropdown__list" role="menu">
            <li class="slds-dropdown__header slds-truncate" title="Sign Up" role="separator">
              <span class="slds-text-title_caps">Sign Up</span>
            </li>
            <li class="slds-dropdown__item">
              <a role="menuitem" [routerLink]="['/useregister']" >
                <span class="slds-truncate">As user</span>
              </a>
            </li>
            <li class="slds-dropdown__item">
              <a [routerLink]="['/apply/psychologist']" role="menuitem">
                <span class="slds-truncate">As psychologist</span>
              </a>
            </li>
            <li class="slds-has-divider_top-space" role="separator"></li>
            <li class="slds-dropdown__item">
              <a role="menuitem">
                <span class="slds-truncate">Login</span>
              </a>
            </li>
          </ul>
        </div>

      </action-menu>
    </div>
    <div class="slds-global-header__item slds-hide_large">
      <a [routerLink]="['/']">
        <img src="../../../assets/cropped-PuzzleofmyLifeLogo2-192x192.png" style="height:59px; margin-top: 5px;">
      </a>
    </div>
    <!-- DESKTOP NAV - shown when screen size is "large"-->
    <div class="slds-global-header__item slds-show_large">
      <div class="slds-grid slds-gutters slds-grid_vertical-align-center">
        <div class="slds-col">
          <a [routerLink]="['/']">
            <img src="../../../assets/cropped-PuzzleofmyLifeLogo2-192x192.png" style="height:59px; margin-top: 5px;">
          </a>
        </div>
        <div class="slds-col">
          <action-menu>
            <div actionMenuOrigin class="slds-text-title--caps pointer">Sign Up</div>
            <div actionMenuDropdown class="slds-dropdown slds-dropdown_left slds-m-top_x-small">
              <ul class="dropdown__list" role="menu">
                <li class="slds-dropdown__item">
                  <a role="menuitem" [routerLink]="['/useregister']">
                    <span class="slds-truncate">As user</span>
                  </a>
                </li>
                <li class="slds-dropdown__item">
                  <a [routerLink]="['/apply/psychologist']" role="menuitem">
                    <span class="slds-truncate">As psychologist</span>
                  </a>
                </li>
              </ul>
            </div>
          </action-menu>
        </div>
        <div class="slds-col">
          <div class="slds-text-title--caps">Login</div>
        </div>
      </div>
    </div>
    <!-- Right hand side items (notifications, profile, etc)-->
    <div class="slds-global-header__item">
      <ul class="slds-global-actions">
        <li class="slds-global-actions__item">
          <div class="slds-dropdown-trigger slds-dropdown-trigger_click">
            <button class="slds-button slds-button_icon slds-button_icon slds-button_icon-container slds-button_icon-small slds-global-actions__notifications slds-global-actions__item-action slds-incoming-notification">
              <svg class="slds-button__icon slds-global-header__icon">
                <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#notification"></use>
              </svg>
            </button>
            <span class="slds-notification-badge slds-show-notification">5</span>
          </div>
        </li>
        <li class="slds-global-actions__item">
          <div class="slds-dropdown-trigger slds-dropdown-trigger_click">
            <button class="slds-button slds-global-actions__avatar slds-global-actions__item-action">
              <span class="slds-avatar slds-avatar_circle slds-avatar_medium">
                <img alt="Profile" src="/assets/images/avatar2.jpg" title="User avatar" />
              </span>
            </button>
          </div>
        </li>
      </ul>
    </div>
  </div>
</header>