<header class="slds-global-header_container slds-p-horizontal_small">
  <div class="slds-global-header slds-grid slds-grid_align-spread">
    <!-- MOBILE NAV - shown when screen size is not "large"-->
    <div class="slds-global-header__item slds-hide_large">
      <app-mobile-menu></app-mobile-menu>
    </div>
    <div class="slds-global-header__item slds-hide_large">
        <a [routerLink]="['/']">
          <img src="../../../assets/cropped-PuzzleofmyLifeLogo2-192x192.png" style="height:59px; margin-top: 5px;">
        </a>
    </div>
    <!-- DESKTOP NAV - shown when screen size is "large"-->
    <div class="slds-global-header__item slds-show_large">
      <div class="slds-grid slds-gutters slds-grid_vertical-align-center">
        <div class="slds-col">
          <a [routerLink]="['/']">
            <img src="../../../assets/cropped-PuzzleofmyLifeLogo2-192x192.png" style="height:59px; margin-top: 5px;">
          </a>
        </div>
        <div class="slds-col">
          <app-signup-menu></app-signup-menu>
        </div>
        <div class="slds-col">
          <div class="slds-text-title--caps">Login</div>
        </div>
      </div>
    </div>
    <!-- Right hand side items (notifications, profile, etc)-->
    <div class="slds-global-header__item">
      <ul class="slds-global-actions">
        <li class="slds-global-actions__item">
          <div class="slds-dropdown-trigger slds-dropdown-trigger_click">
            <button class="slds-button slds-button_icon slds-button_icon slds-button_icon-container slds-button_icon-small slds-global-actions__notifications slds-global-actions__item-action slds-incoming-notification">
              <svg class="slds-button__icon slds-global-header__icon">
                <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#notification"></use>
              </svg>
            </button>
            <span class="slds-notification-badge slds-show-notification">5</span>
          </div>
        </li>
        <li class="slds-global-actions__item">
          <div class="slds-dropdown-trigger slds-dropdown-trigger_click">
            <button class="slds-button slds-global-actions__avatar slds-global-actions__item-action">
              <span class="slds-avatar slds-avatar_circle slds-avatar_medium">
                <img alt="Profile" src="/assets/images/avatar2.jpg" title="User avatar" />
              </span>
            </button>
          </div>
        </li>
      </ul>
    </div>
  </div>
</header>