<header class="slds-global-header_container">
	<div class="slds-global-header slds-grid slds-grid_align-spread">
		<!-- MOBILE NAV - shown when screen size is not "large"-->
		<div class="slds-global-header__item slds-hide_large">
			<action-menu>
				<button actionMenuOrigin class="slds-button slds-button_icon slds-button_icon slds-button_icon-container slds-button_icon-small slds-global-actions__notifications slds-global-actions__item-action">
					<svg class="slds-button__icon slds-global-header__icon">
						<use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#rows"></use>
					</svg>
				</button>

				<div actionMenuDropdown class="slds-dropdown slds-dropdown--left slds-m-top_x-small">
					<ul class="dropdown__list" role="menu">
						<li *ngIf="!(loggedIn.IsLoggedIn)" class="slds-dropdown__header slds-truncate" title="Sign Up" role="separator">
							<a role="menuitem" [routerLink]="['/signup']">
								<span class="slds-text-title_caps">Sign Up</span>
							</a>
						</li>

						<li *ngIf="!(loggedIn.IsLoggedIn)" class="slds-has-divider_top-space" role="separator"></li>
						<li *ngIf="!(loggedIn.IsLoggedIn)" class="slds-dropdown__header slds-truncate" title="Apply" role="separator">
							<span class="slds-text-title_caps">Apply</span>
						</li>

						<li *ngIf="!(loggedIn.IsLoggedIn)" class="slds-dropdown__item">
							<a [routerLink]="['/apply']" role="menuitem">
								<span class="slds-truncate">As a psychologist</span>
							</a>
						</li>

						<li *ngIf="(loggedIn.IsLoggedIn && loggedIn.IsPatient)" class="slds-dropdown__header slds-truncate" title="Session" role="separator">
							<a role="menuitem" [routerLink]="['/session']">
								<span class="slds-text-title_caps">Session</span>
							</a>
						</li>

						<li *ngIf="!(loggedIn.IsLoggedIn)" class="slds-has-divider_top-space" role="separator"></li>
						<li *ngIf="!(loggedIn.IsLoggedIn)" class="slds-dropdown__item">
							<a role="menuitem">
								<span [routerLink]="['/login']" class="slds-text-title_caps">Log in</span>
							</a>
						</li>

						<li *ngIf="(loggedIn.IsLoggedIn)" class="slds-dropdown__header slds-truncate" title="Logout" role="separator">
							<a role="menuitem">
								<span (click)="logout()" class="slds-text-title_caps">Logout</span>
							</a>
						</li>

						<li *ngIf="(loggedIn.IsLoggedIn && loggedIn.IsAdmin)" class="slds-has-divider_top-space" role="separator"></li>
						<ul *ngIf="(loggedIn.IsLoggedIn && loggedIn.IsAdmin)" class="dropdown__list" role="menu">
							<li class="slds-dropdown__header slds-truncate" title="Admin" role="separator">
								<span class="slds-text-title_caps">Admin</span>
							</li>
							<li class="slds-dropdown__item">
								<a [routerLink]="['admin/psychologists']" role="menuitem">
									<span class="slds-truncate">Psychologists</span>
								</a>
							</li>
						</ul>
					</ul>
				</div>
			</action-menu>
		</div>
		<div class="slds-global-header__item slds-hide_large">
			<a [routerLink]="['/']">
				<img src="../../../assets/cropped-PuzzleofmyLifeLogo2-192x192.png" style="height:59px; margin-top: 5px;">
			</a>
		</div>
		<!-- DESKTOP NAV - shown when screen size is "large"-->
		<div class="slds-global-header__item slds-show_large">
			<div class="slds-grid slds-gutters slds-grid_vertical-align-center">
				<div class="slds-col">
					<a [routerLink]="['/']">
						<img src="../../../assets/cropped-PuzzleofmyLifeLogo2-192x192.png" style="height:59px; margin-top: 5px;">
					</a>
				</div>
				<div *ngIf="!(loggedIn.IsLoggedIn)" class="slds-col">
					<div [routerLink]="['/signup']" class="slds-text-title--caps pointer">Sign up</div>
				</div>

				<div *ngIf="!(loggedIn.IsLoggedIn)" class="slds-col">
					<action-menu>
						<div actionMenuOrigin class="slds-text-title--caps pointer">Apply</div>
						<div actionMenuDropdown class="slds-dropdown slds-dropdown_left slds-m-top_x-small">
							<ul class="dropdown__list" role="menu">
								<li class="slds-dropdown__item">
									<a role="menuitem" [routerLink]="['/apply']">
										<span class="slds-truncate">As a psychologist</span>
									</a>
								</li>
							</ul>
						</div>
					</action-menu>
				</div>

				<div *ngIf="(loggedIn.IsLoggedIn && loggedIn.IsPatient)" class="slds-col">
					<div [routerLink]="['/session']" class="slds-text-title--caps pointer">Session</div>
				</div>

				<div *ngIf="!(loggedIn.IsLoggedIn)" class="slds-col">
					<div [routerLink]="['/login']" class="slds-text-title--caps pointer">Log in</div>
				</div>

				<div *ngIf="(loggedIn.IsLoggedIn)" class="slds-col">
					<div (click)="logout()" class="slds-text-title--caps pointer">Logout</div>
				</div>

				<div *ngIf="(loggedIn.IsLoggedIn && loggedIn.IsAdmin)" class="slds-col">
					<action-menu>
						<div actionMenuOrigin class="slds-text-title--caps pointer">Admin</div>
						<div actionMenuDropdown class="slds-dropdown slds-dropdown_left slds-m-top_x-small">
							<ul class="dropdown__list" role="menu">
								<li class="slds-dropdown__item">
									<a role="menuitem" [routerLink]="['admin/psychologists']">
										<span class="slds-truncate">Psychologists</span>
									</a>
								</li>
							</ul>
						</div>
					</action-menu>
				</div>
			</div>
		</div>
		<!-- Right hand side items (notifications, profile, etc)-->
		<div class="slds-global-header__item">
			<ul *ngIf="(loggedIn.IsLoggedIn)" class="slds-global-actions">
				<li class="slds-global-actions__item">
						<app-notification-nav></app-notification-nav>
				</li>
				<li class="slds-global-actions__item">
					<div class="slds-dropdown-trigger slds-dropdown-trigger_click">
						<button class="slds-button slds-global-actions__avatar slds-global-actions__item-action">
							<span class="slds-avatar slds-avatar_circle slds-avatar_medium">
								<img alt="Profile" src="/assets/images/avatar2.jpg" title="User avatar" />
							</span>
						</button>
					</div>	
				</li>
			</ul>
		</div>
	</div>
</header>
