<app-notification-list [notifications]="currentNotifications"></app-notification-list>
<div *ngIf="!noMoreNotifications && !loading" class="slds-align_absolute-center">
  <a (click)="loadNotificationsPage()" class="slds-button">Load more</a>
</div>
<div *ngIf="noMoreNotifications && !loading" class="slds-m-vertical_small slds-align_absolute-center">
  No more notifications
</div>
<div *ngIf="loading" class="slds-align_absolute-center slds-m-vertical_x-large">
  <div role="status" class="slds-spinner slds-spinner_medium slds-spinner_inline">
    <span class="slds-assistive-text">Loading</span>
    <div class="slds-spinner__dot-a"></div>
    <div class="slds-spinner__dot-b"></div>
  </div>
</div>