<div class="slds-align_absolute-center">
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onForgotPassword()" style="width:285px">
        <div class="slds-text-heading_medium">
         <label class="slds-form-element__label slds-text-heading_medium"><span>Enter your email below to reset your password</span></label>
        </div>

        <div class="slds-m-top_small">
            <div class="slds-grid">
              <label class="slds-form-element__label slds-text-heading_medium" for="email">Email</label>
            </div>
            <div class="slds-form-element__control">
              <input id="resetPassword"type="text" formControlName="email" class="form-control slds-input" />
              <div *ngIf="submitted && forgotPasswordForm.controls.email.errors" class="slds-text-color_error">
                <div *ngIf="forgotPasswordForm.controls.email.errors.required">Email is required</div>
                <div *ngIf="forgotPasswordForm.controls.email.errors.email">Invalid email</div>
              </div>
            </div>
          </div>


          <div class="slds-m-top_medium">
              <button class="slds-button slds-button_brand btn-medium" routerLinkActive="router-link-active">Reset Password</button>
              <div *ngIf="success === true" class="form-control slds-text-color_success slds-m-top_small"><b>Success</b>, a password reset link has been emailed to you. Please click on that link to reset your password.</div>
              <div *ngIf="success === false" class="form-control slds-text-color_error slds-m-top_small"><b>Failed</b>, we cannot reset your password.</div>
              <div *ngIf="unexpectedError === true" class="form-control slds-text-color_error slds-m-top_small"><b>Error</b>, an unexpected error occurred.</div> 
          </div>

    </form>
</div>