<ul>
    <li class="slds-global-header__notification slds-global-header__notification_unread">
      <div class="slds-media slds-has-flexi-truncate slds-p-around_x-small">
        <div class="slds-media__figure">
          <span class="slds-avatar slds-avatar_small">
            <img alt="Val Handerly" src="/assets/images/avatar2.jpg" title="Val Handerly avatar" />
          </span>
        </div>
        <div class="slds-media__body">
          <div class="slds-grid slds-grid_align-spread">
            <a href="javascript:void(0);" class="slds-text-link_reset slds-has-flexi-truncate">
              <h3 class="slds-truncate" title="Val Handerly mentioned you">
                <strong>Val Handerly mentioned you</strong>
              </h3>
              <p class="slds-truncate" title="@jrogers Could I please have a review on my presentation deck">@jrogers Could I please have a review on my presentation deck</p>
              <p class="slds-m-top_x-small slds-text-color_weak">10 hours ago
                <abbr class="slds-text-link slds-m-horizontal_xxx-small" title="unread">●</abbr>
              </p>
            </a>
          </div>
        </div>
      </div>
    </li>
    <li class="slds-global-header__notification slds-global-header__notification_unread">
      <div class="slds-media slds-has-flexi-truncate slds-p-around_x-small">
        <div class="slds-media__figure">
          <span class="slds-avatar slds-avatar_small">
            <img alt="Jon Rogers" src="/assets/images/avatar3.jpg" title="Jon Rogers avatar" />
          </span>
        </div>
        <div class="slds-media__body">
          <div class="slds-grid slds-grid_align-spread">
            <a href="javascript:void(0);" class="slds-text-link_reset slds-has-flexi-truncate">
              <h3 class="slds-truncate" title="Jon Rogers commented on your post">
                <strong>Jon Rogers commented on your post</strong>
              </h3>
              <p class="slds-truncate" title="I totally agree with your sentiment">I totally agree with your sentiment</p>
              <p class="slds-m-top_x-small slds-text-color_weak">13 hours ago
                <abbr class="slds-text-link slds-m-horizontal_xxx-small" title="unread">●</abbr>
              </p>
            </a>
          </div>
        </div>
      </div>
    </li>
    <li class="slds-global-header__notification">
      <div class="slds-media slds-has-flexi-truncate slds-p-around_x-small">
        <div class="slds-media__figure">
          <span class="slds-avatar slds-avatar_small">
            <img alt="Rebecca Stone" src="/assets/images/avatar2.jpg" title="Rebecca Stone avatar" />
          </span>
        </div>
        <div class="slds-media__body">
          <div class="slds-grid slds-grid_align-spread">
            <a href="javascript:void(0);" class="slds-text-link_reset slds-has-flexi-truncate">
              <h3 class="slds-truncate" title="Rebecca Stone mentioned you">
                <strong>Rebecca Stone mentioned you</strong>
              </h3>
              <p class="slds-truncate" title="@jrogers Here&#x27;s the conversation I mentioned to you">@jrogers Here&#x27;s the conversation I mentioned to you</p>
              <p class="slds-m-top_x-small slds-text-color_weak">1 day ago</p>
            </a>
          </div>
        </div>
      </div>
    </li>
  </ul>