<div class="slds-grid slds-grid_align-spread slds-m-bottom_xx-small">
  <div class="slds-col">
    <div class="slds-text-heading_medium">Attachments</div>
  </div>
  <div class="slds-col">
    <button (click)="handleClose()" class="slds-button slds-button_icon slds-float_right" title="Close">
      <svg class="slds-button__icon_large" aria-hidden="true">
        <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
      </svg>
      <span class="slds-assistive-text">Close</span>
    </button>
  </div>
</div>

<div class="slds-m-top_small">
  <app-session-attachment-upload [sessionId]="sessionId" (onFileUpload)="handleFileUpload($event)"></app-session-attachment-upload>
</div>

<div class="slds-grid slds-wrap slds-grid_pull-padded-x-small slds-gutters_x-small slds-m-bottom_medium">
  <div *ngFor="let attachment of attachments" class="slds-col slds-size_1-of-2 slds-medium-size_1-of-3 slds-large-size_1-of-4 slds-m-top_medium">
    <div class="slds-file slds-file_card slds-file_loading slds-has-title">
      <figure>
        <a [href]="attachment.url" target="_blank" class="slds-file__crop">

          <div *ngIf="attachmentIsImage(attachment)">
            <img [src]="attachment.url" />
          </div>

          <span *ngIf="!attachmentIsImage(attachment)" class="slds-file__icon slds-icon_container" title="image">
            <svg class="slds-icon" aria-hidden="true">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/doctype-sprite/svg/symbols.svg#image" />
            </svg>
            <span class="slds-assistive-text">Image Title</span>
          </span>

          <figcaption class="slds-file__title slds-file__title_card">
            <div class="slds-media slds-media_small slds-media_center slds-truncate">
              <div class="slds-media__figure slds-line-height_reset">
                <span class="slds-icon_container" title="image">
                  <svg class="slds-icon slds-icon_x-small" aria-hidden="true">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/doctype-sprite/svg/symbols.svg#image" />
                  </svg>
                  <span class="slds-assistive-text">image</span>
                </span>
              </div>
              <div class="slds-media__body slds-truncate">
                <span class="slds-file__text" style="color: black" title="Image Title">{{attachment.fileName}}</span>
              </div>
            </div>
          </figcaption>
        </a>
      </figure>
    </div>
  </div>
</div>

<div *ngIf="loading" class="slds-align_absolute-center slds-m-top_x-large">
  <div role="status" class="slds-spinner slds-spinner_medium slds-spinner_inline">
    <span class="slds-assistive-text">Loading</span>
    <div class="slds-spinner__dot-a"></div>
    <div class="slds-spinner__dot-b"></div>
  </div>
</div>

<div *ngIf="canLoadMore" class="slds-align_absolute-center slds-m-bottom_medium">
  <a (click)="load()" class="slds-button">Load more</a>
</div>