<div *ngIf="loading" class="slds-align_absolute-center slds-m-top_x-large">
  <div role="status" class="slds-spinner slds-spinner_medium slds-spinner_inline">
    <span class="slds-assistive-text">Loading</span>
    <div class="slds-spinner__dot-a"></div>
    <div class="slds-spinner__dot-b"></div>
  </div>
</div>

<div *ngIf="!loading">
  <div class="slds-text-heading_medium"><b>{{heading}}</b></div>
  <form [formGroup]="packageForm" (ngSubmit)="onPackageSubmit()">
    <div class="slds-m-bottom_medium">
      <div class="slds-m-top_small">
        <label class="slds-form-element__label" for="packageNameAlias">Name*</label>

        <div class="slds-form-element__control">
          <input type="text" class="form-control slds-input" formControlName="packageNameAlias" />
          <div *ngIf="submitted && packageForm.controls.packageNameAlias.errors" class="slds-text-color_error">
            <div *ngIf="packageForm.controls.packageNameAlias.errors.required">
              Package Name is required
            </div>
          </div>
        </div>
      </div>

      <div class="slds-m-top_small">
        <label class="slds-form-element__label" for="packageDuration">Package duration*</label>
        <div class="slds-form-element__control">
          <input type="number" class="form-control slds-input" formControlName="packageDuration" />
          <div *ngIf="submitted && packageForm.controls.packageDuration.errors" class="slds-text-color_error">
            <div *ngIf="packageForm.controls.packageDuration.errors.required">
              Package duration is required
            </div>
          </div>
        </div>
      </div>
      
      <div class="slds-m-top_small">
        <label class="slds-form-element__label" for="packageCost">Package cost*</label>
        <div class="slds-form-element__control">
          <input type="number" class="form-control slds-input" formControlName="packageCost" />
          <div *ngIf="submitted && packageForm.controls.packageCost.errors" class="slds-text-color_error">
            <div *ngIf="packageForm.controls.packageCost.errors.required">
              Package cost is required
            </div>
          </div>
        </div>
      </div>

      <div class="slds-m-top_small">
        <label class="slds-form-element__label" for="packageTrials">Trial days*</label>
        <div class="slds-form-element__control">
          <input type="number" class="form-control slds-input" formControlName="packageTrials" />
          <div *ngIf="submitted && packageForm.controls.packageTrials.errors" class="slds-text-color_error">
            <div *ngIf="packageForm.controls.packageTrials.errors.required">
              Package trial days is required
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="slds-m-top_medium">
      <a [routerLink]="['/admin/packages']" class="slds-button">Cancel</a>
      <button class="slds-button slds-button_brand btn-right" routerLinkActive="router-link-active">Save</button>
    </div>
  </form>
</div>
