<!-- Notification Bell Icon -->
<div class="slds-dropdown-trigger slds-dropdown-trigger_click">
	<button (click)="onOpenCloseNotificationDropDown()" class="slds-button slds-button_icon slds-button_icon-container slds-button_icon-small slds-global-actions__notifications slds-global-actions__item-action slds-incoming-notification">
		<svg class="slds-button__icon slds-global-header__icon">
		    <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#notification"></use>
		</svg>
    </button>
    <div *ngIf="!newNotificationCount == 0">
        <span class="slds-notification-badge slds-show-notification">{{newNotificationCount}}</span>
    </div>
</div>
<!--Notification Dropdown Menu-->
<div [hidden]="!showNotificationDropdown">
    <section class="slds-popover slds-popover_small" role="dialog" aria-labelledby="dialog-heading-id-7" aria-describedby="dialog-body-id-7" style="position:absolute;top:calc(100% + 10px);right:14px">
		<button (click)="onOpenCloseNotificationDropDown()" class="slds-button slds-button_icon slds-button_icon-small slds-float_right slds-popover__close slds-button_icon" title="Close dialog">
			<svg class="slds-button__icon" aria-hidden="true">
				<use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
			</svg>
		    <span class="slds-assistive-text">Close dialog</span>
		</button>

		<header class="slds-popover__header">
		    <h2 id="dialog-heading-id-7" class="slds-text-heading_small">Notifications</h2>
		</header>

		<div class="scrollableDropDown">
			<div class="slds-popover__body slds-p-around_none" id="dialog-body-id-7">
				<ul *ngFor="let notification of currentNotifications">
					<li [ngClass]="{'slds-global-header__notification':true, 'slds-global-header__notification_unread':!notification.read}">
						<figure>
							<div class="slds-media slds-has-flexi-truncate slds-p-around_x-small">
								<div class="slds-media__figure">
									<span class="slds-icon_container slds-icon-action-share-post slds-icon_container--circle" [ngSwitch]=notification.notificationTypeId>
										<svg *ngSwitchCase="1" class="slds-icon slds-icon--xx-small" aria-hidden="true">
											<use xlink:href="/assets/icons/action-sprite/svg/symbols.svg#update"></use>
										</svg>
										<svg *ngSwitchCase="4" class="slds-icon slds-icon--xx-small" aria-hidden="true">
											<use xlink:href="/assets/icons/action-sprite/svg/symbols.svg#share_post"></use>
										</svg>
									</span>
								</div>
								<div class="slds-media__body">
									<div class="slds-grid slds-grid_align-spread">
										<a (click)="navToNotifications()" class="slds-text-link_reset slds-has-flexi-truncate">
											<h3 class="slds-truncate">
												<strong>{{notification.notificationTypeName}}</strong>
											</h3>
											<p class="slds-truncate">{{notification.text}}</p>
											<p class="slds-m-top_x-small slds-text-color_weak"><span>{{convertToLocalDate(notification.createDate)| timeAgo}}</span>
												<abbr [hidden]="notification.read" class="slds-text-link slds-m-horizontal_xxx-small" title="unread">●</abbr>
											</p>
										</a>
									</div>
								</div>
							</div>
						</figure>
					</li>
				</ul>
				<div class="slds-align_absolute-center">
				    <a (click)="navToNotifications()" class="slds-button">Show all</a>
				</div>
			</div>
		</div>
  </section>
</div>
