<!-- Notification Bell Icon -->
<div class="slds-dropdown-trigger slds-dropdown-trigger_click">
	<button (click)="showNotificationDropdown = !showNotificationDropdown" class="slds-button slds-button_icon slds-button_icon-container slds-button_icon-small slds-global-actions__notifications slds-global-actions__item-action slds-incoming-notification">
		<svg class="slds-button__icon slds-global-header__icon">
		    <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#notification"></use>
		</svg>
	</button>
	<span class="slds-notification-badge slds-show-notification">{{newNotificationCount}}</span>
</div>

<div [hidden]="!showNotificationDropdown">
	<section class="slds-popover slds-popover_small" role="dialog" aria-labelledby="dialog-heading-id-7" aria-describedby="dialog-body-id-7" style="position:absolute;top:calc(100% + 10px);right:14px">
		<button (click)="onCloseNotificationsDropDown()" class="slds-button slds-button_icon slds-button_icon-small slds-float_right slds-popover__close slds-button_icon" title="Close dialog">
			<svg class="slds-button__icon" aria-hidden="true">
				<use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
			</svg>
			<span class="slds-assistive-text">Close dialog</span>
		</button>

		<header class="slds-popover__header">
		    <h2 id="dialog-heading-id-7" class="slds-text-heading_small">Notifications</h2>
		</header>

		<div class="slds-popover__body slds-p-around_none" id="dialog-body-id-7">
			<ul>
				<li *ngFor="let notification of currentNotifications" class="slds-global-header__notification slds-global-header__notification_unread">
					<div class="slds-media slds-has-flexi-truncate slds-p-around_x-small">
						<div class="slds-media__figure">
							<span class="slds-avatar slds-avatar_small">
								<img src="/assets/images/avatar2.jpg"/>
							</span>
						</div>
						<div class="slds-media__body">
							<div class="slds-grid slds-grid_align-spread">
								<a href="javascript:void(0);" class="slds-text-link_reset slds-has-flexi-truncate">
									<h3 class="slds-truncate">
										<strong>{{notification.notificationTypeName}}</strong>
									</h3>
									<p class="slds-truncate">{{notification.text}}</p>
									<p class="slds-m-top_x-small slds-text-color_weak"><span>{{notification.createDate | timeAgo}}</span>
										<abbr class="slds-text-link slds-m-horizontal_xxx-small" title="unread">●</abbr>
									</p>
								</a>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</section>	
</div>


