<div nglDropdown [(open)]="open">
  <button nglDropdownTrigger class="slds-button slds-button_icon slds-button_icon slds-button_icon-container slds-button_icon-small slds-global-actions__notifications slds-global-actions__item-action">
    <svg class="slds-button__icon slds-global-header__icon">
      <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#rows"></use>
    </svg>
  </button>
  <div class="slds-dropdown slds-dropdown--left">
    <ul class="dropdown__list" role="menu">
      <li class="slds-dropdown__header slds-truncate" title="Sign Up" role="separator">
        <span class="slds-text-title_caps">Sign Up</span>
      </li>
      <li class="slds-dropdown__item">
        <a role="menuitem" nglDropdownItem (click)="open = false;">
          <span class="slds-truncate">As user</span>
        </a>
      </li>
      <li class="slds-dropdown__item">
        <a [routerLink]="['/psyregister']" [queryParams]="{page:1}" role="menuitem" nglDropdownItem (click)="open = false;">
          <span class="slds-truncate">As psychologist</span>
        </a>
      </li>
      <li class="slds-has-divider_top-space" role="separator"></li>
      <li class="slds-dropdown__item">
        <a role="menuitem" nglDropdownItem (click)="open = false;">
          <span class="slds-truncate">Login</span>
        </a>
      </li>
    </ul>
  </div>
</div>