<div class="slds-text-heading_medium slds-m-bottom_small">Package</div>
<article class="background-color-brand-white slds-card">
    <div class="slds-card__header slds-grid">
        <header class="slds-media slds-media_center slds-has-flexi-truncate">
            <div class="slds-media__body">
                <h2 class="slds-card__header-title" style="text-align:center; color:black">
                    <span class="slds-card__header-link slds-truncate">
                        R{{currentPackage.packageCost}}
                    </span>
                </h2>
            </div>
        </header>
    </div>
    <div class="slds-card__body slds-card__body_inner" style="text-align:center; color:black">
        <div class="slds-m-bottom_small">
            {{currentPackage.packageName}}
        </div>
        <div class="slds-m-bottom_small slds-text-heading_medium">
            <span [className]="getPackageStatusClass(currentPackage.statusId)"><b>{{currentPackage.statusName}}</b></span>
        </div>

        <!-- Active -->
        <div *ngIf="currentPackage.statusId == 1" class="slds-m-bottom_small">
            <span *ngIf="!currentPackage.pendingCancellation">Next bill date:</span>
            <span *ngIf="currentPackage.pendingCancellation" class="cancelled">Pending cancellation on:</span>
            <div><b>{{helpersService.convertToLocalDate(currentPackage.nextBillDate) | date}}</b></div>

            <div *ngIf="currentPackage.pendingCancellation" class="slds-m-top_small">
                <button class="slds-button slds-button_outline-brand" (click)="undoCancelPackage()">Stop cancellation</button>
            </div>
            <div *ngIf="!currentPackage.pendingCancellation" class="slds-m-top_small">
                <button class="slds-button slds-button_destructive" (click)="showCancelPrompt()">Cancel package</button>
            </div>
        </div>

        <!-- Pending Payment -->
        <div *ngIf="currentPackage.statusId == 2" class="slds-m-bottom_small">
            (R{{outstandingBalance}} is due)
            <div class="slds-m-top_small">
                <button class="slds-button slds-button_success" [routerLink]="['/settle-balance']">Pay now</button>
            </div>
            <div class="slds-m-top_small">
                <button class="slds-button slds-button_destructive" (click)="cancelPackage()">Cancel package</button>
            </div>
        </div>

        <!-- Cancelled -->
        <div *ngIf="currentPackage.statusId == 3" class="slds-m-bottom_small">
            <button class="slds-button slds-button_outline-brand" (click)="reactivatePackage()">Reactivate</button>
        </div>

        <button class="slds-button slds-button_outline-brand" (click)="changePackage()">Change package</button>
        
        <!-- Cancel patient package -->
        <div *ngIf="showCancelPromptFlag">
            <section role="alertdialog" tabindex="-1" aria-labelledby="prompt-heading-id" aria-describedby="prompt-message-wrapper"
                class="slds-modal slds-fade-in-open slds-modal_prompt" aria-modal="true">
                <div class="slds-modal__container">
                    <header class="slds-modal__header slds-theme_warning">
                        <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close">
                            <svg class="slds-button__icon slds-button__icon_large" aria-hidden="true">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close" />
                            </svg>
                            <span class="slds-assistive-text">Close</span>
                        </button>
                        <h2 class="slds-text-heading_medium" id="prompt-heading-id">Confirm</h2>
                    </header>
                    <div>
                        <div class="slds-modal__content slds-p-around_small" id="prompt-message-wrapper">
                            <p>Are you sure you want to <b>CANCEL</b> this package?</p>
                        </div>
                    </div>
                    <div>
                        <div class="slds-modal__content slds-p-around_xx-small" id="prompt-message-wrapper">
                            <p>Reason for cancellation (optional)</p>
                            <textarea [(ngModel)]="cancelReason" style="width:100%; height:100%" rows="5" name="cancelReason"></textarea>
                        </div>
                    </div>
                    <footer class="slds-modal__footer slds-theme_default">
                        <button class="slds-button slds-button_neutral" (click)="hideCancelPrompt()">Cancel</button>
                        <button class="slds-button slds-button_brand" (click)="cancelPackage()">Proceed</button>
                        <div *ngIf="enableError" class="slds-text-color_error">An error occurred</div>
                    </footer>
                </div>
            </section>
            <div class="slds-backdrop slds-backdrop_open"></div>
        </div>
    </div>

    <div *ngIf="loading" class="slds-align_absolute-center slds-m-top_x-large">
        <div role="status" class="slds-spinner slds-spinner_medium slds-spinner_inline">
            <span class="slds-assistive-text">Loading</span>
            <div class="slds-spinner__dot-a"></div>
            <div class="slds-spinner__dot-b"></div>
        </div>
    </div>

</article>