<!--Patient update details section-->
<div *ngIf="loading" class="slds-align_absolute-center slds-m-top_x-large">
    <div role="status" class="slds-spinner slds-spinner_medium slds-spinner_inline">
        <span class="slds-assistive-text">Loading</span>
        <div class="slds-spinner__dot-a"></div>
        <div class="slds-spinner__dot-b"></div>
    </div>
</div>
<div class="slds-grid slds-grid_align-center">
    <div class="slds-col slds-size_12-of-12 form-width">
        <div *ngIf="!loading && !gotResult">
            <div class="slds-text-heading_large">Update details</div>
            <form [formGroup]="patientEditForm" (ngSubmit)="onUpdatePatientDetailsSubmit()">
                <div class="slds-m-bottom_medium">
                    <div class="slds-m-top_small">
                        <div class="slds-grid">
                            <label class="slds-form-element__label" for="patientAlias">Name or alias*</label>
                            <app-tooltip text="You don't need to use your real name" top="-50px" left="0px"
                                width="150px"></app-tooltip>
                        </div>
                        <div class="slds-form-element__control">
                            <input type="text" class="form-control slds-input" formControlName="patientAlias" />
                            <div *ngIf="submitted && patientEditForm.controls.patientAlias.errors"
                                class="slds-text-color_error">
                                <div *ngIf="patientEditForm.controls.patientAlias.errors.required">
                                    Name or alias is required
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="slds-m-top_small">
                        <label class="slds-form-element__label" for="patientEmail">Email*</label>
                        <div class="slds-form-element__control">
                            <input type="text" formControlName="patientEmail" class="form-control slds-input" />
                            <div *ngIf="submitted && patientEditForm.controls.patientEmail.errors"
                                class="slds-text-color_error">
                                <div *ngIf="patientEditForm.controls.patientEmail.errors.required">
                                    Email is required
                                </div>
                                <div *ngIf="patientEditForm.controls.patientEmail.errors.email">Email is invalid</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slds-m-top_medium">
                    <a [routerLink]="['/profile']" class="slds-button">Cancel</a>
                    <button class="slds-button slds-button_brand btn-right"
                        routerLinkActive="router-link-active">Confirm</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div *ngIf="gotResult">
    <app-result [success]="success" [text]="resultText" buttonText="Go to profile" buttonLink="/profile"></app-result>
</div>