<div class="slds-grid slds-wrap">
    <div class="slds-col slds-size_1-of-12 slds-medium-size_2-of-12  slds-large-size_2-of-12"></div>
    <div class="slds-col slds-size_10-of-12 slds-medium-size_8-of-12 slds-large-size_8-of-12">
        <div class="slds-text-heading_large">
                <h1>Terms and Conditions</h1>
                <b>Counsellor Agreement</b>
        </div>

        <div class="slds-m-top_small">
            <ol class="slds-list_ordered">
                    <li >Counsellor Terms and Conditions</li>
                    <ul class="slds-is-nested slds-list_dotted" >
                        <li>The terms and conditions (the "Counsellor Agreement") as stated for the access and use of an online platform (the "Platform") used for counselling, therapeutic services and the provision of advice and information (collectively called "services") to the client or User (collectively called "User") of the online platform by a Counsellor, Psychologist, Coach or Therapist (referred to as "Counsellor").</li>
                        <li>By accessing or using the Platform as a Counsellor you have entered into this Counsellor agreement and that you have read and agree to the terms of use.</li>
                        <li>When the terms "we", "us", "our" or similar are used in this Agreement, they refer to any company that owns and operates the Platform (the "Company"), its affiliated companies and the shareholders, directors, officers, employees, consultants, contractors, subcontractors, agents, advisors, assignees and successors of the aforementioned companies.</li>
                    </ul>
                    <li >Terms of use</li>
                    <ul class="slds-is-nested slds-list_dotted" >
                        <li>The features and functionality of the Platform are subject to change without notice.</li>
                        <li>Counsellors are independent contractors working in their own space and time and are not employees, agents or representatives.</li>
                        <li>By agreeing to this agreement you are also agreeing to the terms of the Platform privacy policy which is incorporated into and deemed part of this Counsellor Agreement.</li>
                    </ul>
                    <li >Disclaimers and Limitation of Liability</li>
                    <ul class="slds-is-nested slds-list_dotted" >
                        <li>The Counsellor provides services at his or her sole and entire risk including any content shared during the utilization of the Platform.</li>
                        <li>We expressly disclaim all warranties for information posted or transmitted by the Platform's Users and or members.</li>
                        <li>Puzzle of my Life will not be held liable to any Counsellor for any direct, indirect, incidental or consequential damages, including but not limited to loss of business, revenue, profits or other economic advantage.</li>
                        <li>We will not be responsible or liable in any way for any agreement made between a Counsellor and a User and or for enforcing any such agreement. Any agreement a Counsellor chooses to get into with a User is at his or her sole responsibility and entire risk.</li>
                        <li>The Counsellor acknowledges that he or she will solely be responsible and liable for any damages to any User to whom the Counsellor provides services and to any User who suffers damages arising from or connected to such services that he provided to that User.</li>
                    </ul>
                    <li >Representations and Warranties</li>
                    <ul class="slds-is-nested slds-list_dotted" >
                        <li>Counsellors hereby confirm and agree that all the information provided in or through the Platform currently and in the future is accurate and correct.</li>
                        <li>The Counsellor is a licensed professional in good standing in the relevant field of expertise and he or she abides by all relevant laws, rules and regulations, including but not limited to rules of ethics and professional responsibility.</li>
                        <li>The Counsellor will not provide a service which is outside his or her fields of licensed expertise and will not misrepresent him or herself.</li>
                        <li>We may review and or conduct checks at our discretion on the Counsellor's personal profile, credentials, qualifications, or any other checks deemed necessary.</li>
                    </ul>
                    <li >Conduct and Action of Counsellors</li>
                    <ul class="slds-is-nested slds-list_dotted" >
                        <li>The Counsellor will not provide to Users any services other than the contracted services and will do so with care and in line with the conduct required of his or her profession.</li>
                        <li>The Counsellor will not diagnose, treat, test, advise, counsel, recommend a course of treatment, or otherwise provide or perform any services that require an in-person meeting with a User or examination of a User.</li>
                        <li>The Counsellor will provide services for only non-emergency matters and issues and will instruct the User to immediately call their local emergency assistance number.</li>
                        <li>The Counsellor will not prescribe or dispense medicines.</li>
                        <li>Whenever appropriate, the Counsellor will recommend Users to get the necessary face to face consultations if required.</li>
                        <li>The Counsellor will respect the User's privacy and not disclose any information that was provided to him or her by a User.</li>
                        <li>The Counsellor will indemnify, defend and hold us harmless against any and all losses, damages, suits, judgments, costs and expenses (including litigation costs and reasonable attorneys' fees) arising out of or in connection with any claim, suit, action, or other proceeding brought against us, to the extent that such claim, suit, action or other proceeding is based on or arises from: </li>
                        <ul class="slds-is-nested " >
                            <li>(a) any breach of any representation, warranty, covenant or agreement to be performed by the Counsellor according to this Counsellor Agreement</li>
                            <li>(b) The Counsellor's provision of the Counsellor Agreement to any third party, regardless of whether or not they are Users of the Platform service</li>
                            <li>(c) any materials that the Counsellor has posted to or through the Platform and/or any content provided by the Counsellor to Users</li>
                        </ul>    
                        <li>The Counsellor agrees and commits not to violate any applicable laws and not to engage in conduct that is harmful, unethical, fraudulent, deceptive or offensive.</li>
                    </ul>
                    <li >Counsellor use of Platform </li>
                    <ul class="slds-is-nested slds-list_dotted" >
                        <li>The Counsellor is responsible for maintaining the confidentiality of their account and should notify Puzzle of my Life immediately if there is a breach or suspected breach of the security of their account.</li>
                        <li>The Counsellor agrees and commits not to make any use of the Platform for the posting, sending or delivering of either of the following:</li>
                        <ul class="slds-is-nested " >
                            <li>(a) unsolicited email and/or advertisement or promotion of goods and services</li>
                            <li>(b) malicious software or code</li>
                            <li>(c) unlawful, harassing, privacy invading, abusive, threatening, vulgar, obscene, racist or potentially harmful content</li>
                            <li>(d) any content that infringes a third party right or intellectual property</li>
                            <li>(e) any content that may cause damage to a third party</li>
                            <li>(f) any content which may constitute, cause or encourage a criminal action or violate any applicable law</li>
                        </ul>
                        <li>The Counsellor agrees, confirms and acknowledges that we may modify, suspend or disrupt the Platform at any time with or without notice to you. You agree and acknowledge that we will not be liable for any losses or damages that are caused by any of the aforementioned actions.</li>
                    </ul>
                    <li >Payments</li>
                    <ul class="slds-is-nested slds-list_dotted" >
                        <li>The Counsellor will be paid for the provision of services to Users and is responsible for paying any applicable tax.</li>
                        <li>Any payment disputes or claims should be submitted within 14 days of identification of the mistake.</li>
                        <li>If a User is entitled for a refund for whatever reason, such a refund will be deducted from the Counsellor's payment due. If the payment has already been paid over to the Counsellor then such payment will be deducted from the Counsellor's account in the next payment run. </li>
                        <li>All payments due to a Counsellor will be paid monthly on the 15th of each month in arrears for the preceding month's services rendered.</li>
                        <li>All payments by a User should be made through the Platform and the Counsellor agrees and commits to not accept any payment directly from a User.</li>
                    </ul>
                    <li >Important notes</li>
                    <ul class="slds-is-nested slds-list_dotted" >
                        <li>Nothing in this Agreement shall be construed as making either party the partner, joint venture, agent, legal representative, employer, or employee of the other.</li>
                        <li>THIS AGREEMENT CONSTITUTES THE ENTIRE AGREEMENT BETWEEN YOU AND US. YOU CONFIRM THAT YOU HAVE NOT RELIED UPON ANY PROMISES OR REPRESENTATIONS BY US EXCEPT AS SET FORTH IN THIS AGREEMENT.</li>
                        <li>We may change this Agreement by posting modifications on the Platform. Unless otherwise specified by us, all modifications shall be effective upon posting. Therefore, you are encouraged to check the terms of this Agreement frequently. The last update date of this Agreement is posted at the bottom of the Agreement. By using the Platform after the changes become effective, you agree to be bound by such changes to the Agreement. If you do not agree to the changes, you must terminate access to the Platform and participation in its services.</li>
                        <li>The paragraph headings in this Agreement are solely for the sake of convenience and will not be applied in the interpretation of this Agreement.</li>
                        <li>If any provision of this Agreement is held by a court of competent jurisdiction to be illegal, invalid, unenforceable, or otherwise contrary to law, the remaining provisions of this Agreement will remain in full force and effect.</li>
                    </ul>
            </ol>

        </div>
    </div>


</div>
<div class="slds-p-bottom_xx-large"></div>

