<!--Patient personal details-->
<div class="slds-text-heading_medium slds-m-bottom_small">Personal details</div>

<div *ngIf="loading" class="slds-m-top_x-large slds-m-left_medium">
	<div role="status" class="slds-spinner slds-spinner_medium slds-spinner_inline">
		<span class="slds-assistive-text">Loading</span>
		<div class="slds-spinner__dot-a"></div>
		<div class="slds-spinner__dot-b"></div>
	</div>
</div>

<article *ngIf="!loading" class="slds-card">
	<div class="slds-card__body slds-card__body_inner">
		<div class="slds-m-vertical_small slds-truncate">
			<div class="slds-text-heading_small">
				<b>{{patient.alias}}</b>
			</div>
			{{patient.email}}
		</div>
		<button class="slds-button slds-button_outline-brand" (click)="navigateToPatientUpdateDetails()">Update</button>
	</div>
</article>