<div class="slds-grid slds-grid_align-end slds-m-bottom_medium">
	<div class="slds-col">
		<div class="slds-select_container">
			<select (change)="onPsychStatusChange($event.target.value)" class="slds-select">
				<option *ngFor="let psychStatus of psychologistStatuses" [selected]="psychStatus.id == statusId" value={{psychStatus.id}}>
					{{psychStatus.name}}
				</option>
			</select>
		</div>
	</div>
</div>

<div *ngFor="let psych of psychologists">
	<div class="slds-grid slds-border_bottom slds-p-bottom_medium slds-m-bottom_medium">
		<div class="slds-col">
			<div class="slds-grid slds-wrap">
				<div class="slds-p-right_small slds-col slds-size_12-of-12 slds-medium-size_3-of-12 slds-large-size_2-of-12">
					<img [src]="psych.photo" alt="profile photo" class="image-round">
				</div>
				<div class="slds-col slds-size_12-of-12 slds-medium-size_9-of-12 slds-large-size_10-of-12">
					<b>{{psych.firstName}} {{psych.lastName}}</b>

					<div class="truncate_200">{{psych.email}}</div>

					{{psych.phoneNumber}}
					<br>
					<span class="slds-hide_medium slds-text-heading_small">
						<span [className]="helpersService.getPsychStatusClass(psych.statusId)"><b>{{psych.status}}</b></span>
					</span>
				</div>
			</div>
		</div>

		<div class="slds-col_bump-left slds-align-middle slds-show_medium slds-text-heading_small">
			<span [className]="helpersService.getPsychStatusClass(psych.statusId)"><b>{{psych.status}}</b></span>
		</div>

		<div class="slds-align-middle slds-m-left_medium">
			<button [routerLink]="['/profile/psychologist',psych.id]" class="slds-button slds-button_outline-brand">View</button>
		</div>
	</div>
</div>

<div class="slds-text-heading_medium slds-align_absolute-center" *ngIf="psychologists && psychologists.length == 0">
	No results found
</div>