<div class="slds-grid">
  <div class="slds-col slds-size_0-of-12 slds-medium-size_2-of-12 slds-large-size_4-of-12"></div>
  <div class="slds-col slds-size_12-of-12 slds-medium-size_8-of-12 slds-large-size_4-of-12">
    <div class="slds-grid slds-grid_align-end">
      <div class="slds-col">
        <div class="slds-select_container">
          <select (change)="onPsychStatusChange($event.target.value)" class="slds-select">
            <option *ngFor="let psychStatus of psychologistStatuses" [selected]="psychStatus.id == statusId" value={{psychStatus.id}}>
              {{psychStatus.name}}
            </option>
          </select>
        </div>
      </div>
    </div>
    <div *ngFor="let psych of psychologists">
      <div class="slds-m-top_small">
        <div class="slds-grid slds-gutters_direct">
          <div class="slds-col">
            <img [src]="psych.photo" alt="profile photo" class="image-round">
          </div>
          <div class="slds-col slds-align-middle"><b>{{psych.firstName}} {{psych.lastName}}</b>
            <br>
            {{psych.email}}
            <br>
            {{psych.phoneNumber}}
          </div>
          <div class="slds-col slds-align-middle">{{psych.status}}</div>
          <div class="slds-col slds-align-middle">
            <button class="slds-button slds-button_brand btn-right">View</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="slds-col slds-size_0-of-12 slds-medium-size_2-of-12 slds-large-size_4-of-12"></div>

</div>
