<div class="slds-align_absolute-center">
    <form *ngIf="!gotResetResult" [formGroup]="resetPasswordForm" (ngSubmit)="onResetPassword()" style="width:285px">
        <div class="slds-text-heading_large">Reset password
            <div class="slds-text-heading_medium">
                <label class="slds-form-element__label slds-text-heading_medium">Enter your new password</label>
            </div>
        </div>

        <div class="slds-m-top_small">
            <div class="slds-grid">
                <label class="slds-form-element__label slds-text-heading_medium" for="newPassword">New password</label>
            </div>
            <div class="slds-form-element__control">
                <input type="password" minlength="8" formControlName="newPassword" class="form-control slds-input" />
                <div *ngIf="submitted && resetPasswordForm.controls.newPassword.errors" class="slds-text-color_error">
                    <div *ngIf="resetPasswordForm.controls.newPassword.errors.required">Password is required</div>
                    <div *ngIf="resetPasswordForm.controls.newPassword.errors.minlength">Password must be at
                        least 8 characters long</div>
                </div>
            </div>
        </div>

        <div class="slds-m-top_small">
            <div class="slds-grid">
                <label class="slds-form-element__label slds-text-heading_medium" for="confirmPassword">Confirm password</label>
            </div>
            <div class="slds-form-element__control">
                <input type="password" formControlName="confirmPassword" class="form-control slds-input" />
                <div *ngIf="submitted && resetPasswordForm.controls.confirmPassword.errors" class="slds-text-color_error">
                    <div *ngIf="resetPasswordForm.controls.confirmPassword.errors?.dontMatch">Confirmed
                        password does not
                        match</div>
                    <div *ngIf="resetPasswordForm.controls.confirmPassword.errors.required">Confirmed password
                        is required</div>
                </div>
            </div>

            <div class="slds-m-top_medium">
                <button class="slds-button slds-button_brand btn-medium" routerLinkActive="router-link-active">Submit</button>
            </div>
        </div>
    </form>
    <div *ngIf="gotResetResult">
        <app-result [success]="success" [text]="resultText"></app-result>
    </div>
</div>