<div [ngClass]="{'slds-section':true, 'slds-is-open': show}">
  <h3 class="slds-section__title">
    <button (click)="show = !show" aria-controls="expando-unique-id" aria-expanded="false" class="slds-button slds-section__title-action">
      <svg class="slds-section__title-action-icon slds-button__icon slds-button__icon_left" aria-hidden="true">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#switch" />
      </svg>
      <span class="slds-truncate" title="Psychologist history">Psychologist history</span>
    </button>
  </h3>
  <div aria-hidden="false" class="slds-section__content" id="expando-unique-id">
    <div *ngIf="psychologistHistory && psychologistHistory.length == 0">
      No history
    </div>

    <div *ngFor="let psychologistHistoryRec of psychologistHistory" class="slds-m-bottom_x-small">
      <div><b>{{psychologistHistoryRec.psychologistName}}</b></div>
      <div>{{psychologistHistoryRec.startDate | date}} to {{psychologistHistoryRec.endDate ? (psychologistHistoryRec.endDate | date) : 'date'}}</div>
    </div>
  </div>
</div>