@media only screen and (max-width: 576px) {
  .jumbotron {
    padding: 0rem, 0rem !important;
  }
}

html { 
  background-color: #fff !important; 
}

.basic-container {
  padding: 10px;
}

.version-info {
  font-size: 8pt;
  float: right;
}

.registerBtn {
  background-color: Transparent !important;
  color: #fff !important;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}

.btn-right {
  float: right !important;
}
.btn-left {
  float: left !important;
}

.pointer {
  cursor: pointer;
}

.background-color-brand-blue {
  background-color: #00b4c7;
}
