@media only screen and (max-width: 576px) {
  .jumbotron {
    padding: 0rem, 0rem !important;
  }
}

html { 
  background-color: #fff !important; 
}

.basic-container {
  padding: 10px;
}

.version-info {
  font-size: 8pt;
  float: right;
}

.registerBtn {
  background-color: Transparent !important;
  color: #fff !important;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}

.btn-right {
  float: right !important;
}
.btn-left {
  float: left !important;
}

.pointer {
  cursor: pointer;
}

.background-color-brand-blue {
  background-color: #00b4c7;
}

/* Set the font size of input elements to 16px for mobile so the browser doesn't zoom in when focusing on the input */
@media screen and (max-width: 480px) {
  input[type="color"],
  input[type="date"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="email"],
  input[type="month"],
  input[type="number"],
  input[type="password"],
  input[type="search"],
  input[type="tel"],
  input[type="text"],
  input[type="time"],
  input[type="url"],
  input[type="week"],
  select:focus,
  textarea {
    font-size: 16px;
  }
}

.active {
  color: #027e46;
}

.paused,
.pending_approval, 
.pending_payment {
  color: #ffb75d;
}

.disabled,
.cancelled,
.denied {
  color: #c23934;
}

.truncate_75 {
  width: 75px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.truncate_100 {
  width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.truncate_200 {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.truncate_300 {
  width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.truncate_400 {
  width: 400px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.truncate_500 {
  width: 500px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.button-notification-badge {
  position: relative !important;
  margin-left: -12px !important;
  background-color: #005fb2 !important;
}
.success {
  color: #027e46;
}

.error {
  color: #c23934;
}

.centre {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-width {
  max-width: 400px;
}

.default-border {
  border: 1px solid #dddbda;
  padding: 15px;
}

@media (min-width: 600px) {  
  .shadow {
    padding: 20px;
    -webkit-box-shadow: 0px 13px 69px 8px rgba(189,189,189,0.64);
    -moz-box-shadow: 0px 13px 69px 8px rgba(189,189,189,0.64);
    box-shadow: 0px 13px 69px 8px rgba(189,189,189,0.64);
    border-radius: 7px;
  }
}

.meta-text {
  color: #3e3e3c;
  font-size: .625rem;
}

/*On mobile set the Peach Payment card form inputs to 40px because the default height cuts the input text in half*/
@media screen and (max-width: 480px) {
  .wpwl-control-cardNumber,
  .wpwl-control-cvv,
  .wpwl-control-cardHolder,
  .wpwl-control-expiry {
      height: 40px;
  }
}