@media only screen and (max-width: 576px) {
  .jumbotron {
    padding: 0rem, 0rem !important;
  }
}

html { 
  background-color: #fff !important; 
}

.basic-container {
  padding: 10px;
}

.version-info {
  font-size: 8pt;
  float: right;
}

.registerBtn {
  background-color: Transparent !important;
  color: #fff !important;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}

.btn-right {
  float: right !important;
}
.btn-left {
  float: left !important;
}

.pointer {
  cursor: pointer;
}

.background-color-brand-blue {
  background-color: #00b4c7;
}

/* Set the font size of input elements to 16px for mobile so the browser doesn't zoom in when focusing on the input */
@media screen and (max-width: 480px) {
  input[type="color"],
  input[type="date"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="email"],
  input[type="month"],
  input[type="number"],
  input[type="password"],
  input[type="search"],
  input[type="tel"],
  input[type="text"],
  input[type="time"],
  input[type="url"],
  input[type="week"],
  select:focus,
  textarea {
    font-size: 16px;
  }
}

.active {
  color: #027e46;
}

.pending_approval {
  color: #ffb75d;
}

.disabled {
  color: #c23934;
}

.denied {
  color: #c23934;
}

.truncate_75 {
  width: 75px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.truncate_100 {
  width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.truncate_200 {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.truncate_300 {
  width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.truncate_400 {
  width: 400px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.truncate_500 {
  width: 500px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
