<div *ngIf="loaded && success">
  <div class="slds-align_absolute-center slds-m-top_medium">
    <span class="slds-icon_container" title="Success">
      <svg class="slds-icon_large slds-icon-text-success" aria-hidden="true">
        <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#success"></use>
      </svg>
      <span class="slds-assistive-text">Success</span>
    </span>
  </div>

  <div class="slds-text-heading_medium slds-align_absolute-center slds-m-top_medium">
    Your email address has been verified
  </div>

</div>

<div *ngIf="loaded && !success">
  <div class="slds-align_absolute-center slds-m-top_medium">
    <span class="slds-icon_container" title="Failure">
      <svg class="slds-icon_large slds-icon-text-error" aria-hidden="true">
        <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#error"></use>
      </svg>
      <span class="slds-assistive-text">Failure</span>
    </span>
  </div>

  <div class="slds-text-heading_medium slds-align_absolute-center slds-m-top_medium">
    Sorry, this link is either invalid or has expired
  </div>

</div>