<div class="slds-grid slds-grid_align-spread slds-m-bottom_large">
	<div class="slds-col">
		<div class="slds-text-heading_large"><b>Voucher groups</b></div>
	</div>
	<div class="slds-col">
		<button [routerLink]="['/admin/create-voucher']" class="slds-button">New voucher group</button>
	</div>
</div>

<div *ngFor="let voucherGroup of voucherGroups">
	<div class="slds-grid slds-border_bottom slds-p-bottom_medium slds-m-bottom_medium">
		<div class=" slds-col slds-grid slds-wrap">
			<div class="slds-col slds-size_12-of-12 slds-medium-size_6-of-12 slds-large-size_6-of-12">
				<div class="slds-text-heading_x-medium"><b>{{voucherGroup.name}}</b></div>
				<div>
					<b>Package:</b> {{voucherGroup.packageName}}
				</div>
				<div>
					<span [className]="getVoucherGroupStatusClass(voucherGroup.enabled)"><b>
						{{voucherGroup.enabled ? 'Enabled' :'Disabled'}}</b>
					</span>
				</div>
			</div>
			<div class="sdls-col slds-size_12-of-12 slds-medium-size_6-of-12 slds-large-size_6-of-12">
				<div>
					<span><b>Total:</b> {{voucherGroup.numberOfVouchers}}</span>
				</div>
				<div>
					<span><b>Used:</b> {{voucherGroup.numberOfVouchersUsed}}</span>
				</div>
				<div class="slds-truncate">
					<span><b>Expiry:</b> {{voucherGroup.expiryDate | date}} </span>
				</div>
			</div>
		</div>
		<div>
			<div class="slds-m-bottom_x-small">
				<button [routerLink]="['/admin/vouchers',voucherGroup.id, voucherGroup.name]" class="slds-button slds-button_outline-brand">View</button>
			</div>
			<div>
				<button *ngIf="voucherGroup.enabled" class="slds-button slds-button_destructive" (click)="disableVoucherGroup(voucherGroup.id)">Disable</button>
				<button *ngIf="!voucherGroup.enabled" class="slds-button slds-button slds-button_brand" (click)="enableVoucherGroup(voucherGroup.id)">Enable</button>
			</div>
		</div>
	</div>
</div>

<div *ngIf="loading" class="slds-align_absolute-center slds-m-top_x-large">
	<div role="status" class="slds-spinner slds-spinner_medium slds-spinner_inline">
		<span class="slds-assistive-text">Loading</span>
		<div class="slds-spinner__dot-a"></div>
		<div class="slds-spinner__dot-b"></div>
	</div>
</div>

<div *ngIf="moreVoucherGroupsToLoad" class="slds-align_absolute-center slds-m-bottom_medium">
  	<a (click)="loadMoreVoucherGroups()" class="slds-button">Load more</a>
</div>
