<!-- Payment card details -->
<div class="slds-text-heading_medium slds-m-bottom_small">Payment method</div>

<div *ngIf="loading" class="slds-m-left_medium slds-m-top_x-large">
  <div role="status" class="slds-spinner slds-spinner_medium slds-spinner_inline">
    <span class="slds-assistive-text">Loading</span>
    <div class="slds-spinner__dot-a"></div>
    <div class="slds-spinner__dot-b"></div>
  </div>
</div>

<article *ngIf="!loading" class="slds-card">
  <div class="slds-card__body slds-card__body_inner">
    <div class="slds-m-vertical_small" *ngIf="paymentCard">
      <div class="card-brand" title="card brand" [ngSwitch]="paymentCard.paymentBrand">
        <img *ngSwitchCase="'VISA'" src="../../../assets/visa.png" />
        <img *ngSwitchCase="'MASTER'" src="../../../assets/mastercard.png" />
      </div>

      <div class="slds-m-top_small">
        <b>XXXX-XXXX-{{paymentCard.last4Digits}}</b>
      </div>
      <div>
        {{paymentCard.expiryMonth}}/{{paymentCard.expiryYear}}
      </div>
      <div class="slds-truncate">
        {{paymentCard.cardHolderName}}
      </div>
    </div>
    <div class="slds-m-vertical_small" *ngIf="!paymentCard">
      No card found
    </div>
    <div class="slds-grid slds-grid_align-spread">
      <button class="slds-button slds-button_outline-brand" (click)="navigateToUpdateCard()">{{paymentCard
        ? 'Update card':'Add card'}}</button>
      <button class="slds-button slds-button_outline-brand" [routerLink]="['/voucher/use']">Use voucher</button>
    </div>
  </div>
</article>