<!-- Payment card details -->
<div class="slds-text-heading_medium slds-m-bottom_small">Payment method</div>
<article *ngIf="!loading" class="slds-card">
	<div class="slds-card__body slds-card__body_inner" >
		<div class="card-brand" title="card brand" [ngSwitch]="paymentCard.paymentBrand">
			<img *ngSwitchCase="'VISA'" src="../../../assets/visa.png"/>
			<img *ngSwitchCase="'MASTER'" src="../../../assets/mastercard.png"/>
		</div>
		
		<div class="slds-m-top_small"> 
			<b>XXXX-XXXX-{{paymentCard.last4Digits}}</b>
		</div>
		<div>
			{{paymentCard.expiryMonth}}/{{paymentCard.expiryYear}}
		</div>
		<div class="slds-truncate">
			{{paymentCard.cardHolderName}}
		</div>
		<button class="slds-button slds-m-top_xx-small slds-button_brand slds-m-top_medium" (click)="navigateToUpdateCard()">Update card</button>
	</div>
</article>
