<div class="slds-text-heading_medium slds-m-bottom_small">Psychologist</div>

<div *ngIf="loading" class="slds-m-left_medium slds-m-top_x-large">
  <div role="status" class="slds-spinner slds-spinner_medium slds-spinner_inline">
    <span class="slds-assistive-text">Loading</span>
    <div class="slds-spinner__dot-a"></div>
    <div class="slds-spinner__dot-b"></div>
  </div>
</div>

<article *ngIf="!loading" class="slds-card">
  <div *ngIf="!showPackageNotActive">
    <div class="slds-card__header slds-grid">
      <header class="slds-media slds-media_center slds-has-flexi-truncate">
        <div class="slds-media__body">
          <h2 *ngIf="psychologist" class="slds-card__header-title slds-truncate" style="text-align:center">
            <span class="slds-card__header-link slds-truncate">
              {{psychologist.firstName}} {{psychologist.lastName}}
            </span>
            <div class="slds-text-body_regular">
              {{psychologist.qualifications[0]}}
              <br />
              {{psychologist.experienceYears}} years experience
            </div>
          </h2>
          <h2 *ngIf="showNoPsychMsg" class="slds-card__header-title slds-truncate" style="text-align:center">
            <span class="slds-card__header-link slds-truncate">
              No psychologist
            </span>
          </h2>
        </div>
      </header>
    </div>
    <div class="slds-card__body slds-card__body_inner" style="text-align:center">
      <div *ngIf="psychologist">
        <img [src]="psychologist.photo" class="image-round" />
      </div>

      <div *ngIf="showNoPsychMsg">
        Please choose a psychologist
      </div>

      <div class="slds-m-top_small">
        <button (click)="changePsychologist()" class="slds-button slds-button_outline-brand">{{ showNoPsychMsg ? 'Choose' : 'Change'}} psychologist</button>
      </div>
    </div>
  </div>
  <div *ngIf="showPackageNotActive">
    <div class="slds-card__header slds-grid slds-text_heading_small">
      No psychologist. Your package is not active.
    </div>
  </div>
</article>